<h1 id="title">Binarios demo page</h1>
<hr>

<h3>Input Text Example with Reactive Form Validation Text Example</h3>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <span class="p-float-label">
  <input id="first-name" type="text" pInputText  formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
  <label for="first-name">First name</label>
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div class="p-error" id="first-name-required" *ngIf="f.firstName.errors.required">First Name is required</div>
      <div class="p-error" id="first-name-min" *ngIf="f.firstName.errors.minlength">First Name must be at least 6 characters</div>
    </div>
    </span>
  </div>
  <br>

  <div class="form-group">
    <span class="p-float-label">
  <input id="last-name" type="text" pInputText formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
  <label for="last-name">Last name</label>
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div class="p-error"  id="last-name-required" *ngIf="f.lastName.errors.required">Last Name is required</div>
      <div class="p-error" id="last-name-min" *ngIf="f.lastName.errors.minlength">Last Name must be at least 6 characters</div>
    </div>
    </span>
  </div>
  <br>

  <div class="form-group">
    <span class="p-float-label">
  <input id="email" type="text" pInputText  formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
  <label for="email">Email</label>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div class="p-error" id="email-required" *ngIf="f.email.errors.required">Email is required</div>
      <div class="p-error" id="email-invalid" *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div>
    </span>
  </div>
  <br>

  <div class="form-group">
    <span class="p-float-label">
<p-password id="password"  formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
  <ng-template pTemplate="header">
  </ng-template>
  <ng-template pTemplate="footer">
    <p-divider></p-divider>
    <p class="p-mt-2">Suggestions</p>
    <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
      <li>At least one lowercase</li>
      <li>At least one uppercase</li>
      <li>At least one numeric</li>
      <li>Minimum 8 characters</li>
    </ul>
  </ng-template>
  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div class="p-error" id="password-required" *ngIf="f.password.errors.required">Password is required</div>
      <div class="p-error" id="password-min" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
</p-password>
    </span>
  </div><br>
  <div class="form-group">
    <button pButton  id="register" label="Register"></button>
  </div>
</form>


<hr />
<h2>Input Switch Example</h2>
<h5>Basic</h5>
<p-inputSwitch id="basic-switch" [(ngModel)]="checked1"></p-inputSwitch>
<h5>Preselection</h5>
<p-inputSwitch id="preselection-switch" [(ngModel)]="checked2"></p-inputSwitch>

<hr />
<h2>DropDown Example</h2>
<p-dropdown id="city" [showClear]="true" [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"
  placeholder="Select a city">
  <ng-template pTemplate="selectedItem">
    <div class="country-item country-item-value" *ngIf="selectedCity">
      <div>{{selectedCity.name}}</div>
    </div>
  </ng-template>
  <ng-template let-city pTemplate="item">
    <div class="country-item">
      <div>{{city.name}}</div>
    </div>
  </ng-template>
</p-dropdown>

<hr />
<h2>AutoComplete Example</h2>
<h5>Basic</h5>
<p-autoComplete id="country-basic" [(ngModel)]="selectedCountry" [forceSelection]="true"
  [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [minLength]="1">
</p-autoComplete>

<h5>Dropdown and Templating</h5>
<p-autoComplete id="country-dropdown" [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries"
  (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
  <ng-template let-country pTemplate="item">
    <div class="country-item">
      <div>{{country.name}}</div>
    </div>
  </ng-template>
</p-autoComplete>

<h5>Grouped</h5>
<p-autoComplete id="city-grouped" [group]="true" [completeOnFocus]="true" [suggestions]="filteredGroups"
  (completeMethod)="filterGroupedCity($event)" field="label" [multiple]="true" [dropdown]="true">
  <ng-template let-group pTemplate="group">
    <div class="p-d-flex p-ai-center">
      <span>{{group.label}}</span>
    </div>
  </ng-template>
</p-autoComplete>

<h5>Multiple</h5>
<span class="p-fluid">
    <p-autoComplete id="country-multiple" [(ngModel)]="selectedCountries" [completeOnFocus]="true"  [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [multiple]="true">
    </p-autoComplete>
</span>

<hr />
<h2>Radio button Example</h2>
<h5>Basic radio button</h5>
<div class="p-field-radiobutton">
  <p-radioButton id="city-radio-option1" name="city" value="Chicago" [(ngModel)]="city" inputId="city1"></p-radioButton>
  <label for="city1">Chicago</label>
</div>
<div class="p-field-radiobutton">
  <p-radioButton id="city-radio-option2" name="city" value="Los Angeles" [(ngModel)]="city" inputId="city2">
  </p-radioButton>
  <label for="city2">Los Angeles</label>
</div>
<div class="p-field-radiobutton">
  <p-radioButton id="city-radio-option3" name="city" value="New York" [(ngModel)]="city" inputId="city3">
  </p-radioButton>
  <label for="city3">New York</label>
</div>
<div class="p-field-radiobutton">
  <p-radioButton id="city-radio-option4" name="city" value="San Francisco" [(ngModel)]="city" inputId="city4">
  </p-radioButton>
  <label for="city4">San Francisco</label>
</div>

<hr />
<h2>Checkbox Example</h2>
<h5>Basic</h5>
<div class="p-field-checkbox">
  <p-checkbox id="basic-checkbox" [(ngModel)]="checked" binary="true" inputId="binary"></p-checkbox>
  <label for="binary">{{checked}}</label>
</div>
<h5>Multiple</h5>
<div class="p-field-checkbox">
  <p-checkbox id="ny-checkbox" name="group1" value="New York" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox>
  <label for="ny">New York</label>
</div>
<div class="p-field-checkbox">
  <p-checkbox id="sf-checkbox" name="group1" value="San Francisco" [(ngModel)]="selectedCities" inputId="sf">
  </p-checkbox>
  <label for="sf">San Francisco</label>
</div>
<div class="p-field-checkbox">
  <p-checkbox id="la-checkbox" name="group1" value="Los Angeles" [(ngModel)]="selectedCities" inputId="la"></p-checkbox>
  <label for="la">Los Angeles</label>
</div>
<div class="p-field-checkbox">
  <p-checkbox id="ch-checkbox" name="group1" value="Chicago" [(ngModel)]="selectedCities" inputId="ch"></p-checkbox>
  <label for="ch">Chicago</label>
</div>

<hr />
<h2>Basic Table Example</h2>
<p-table id="table" [value]="products">
  <ng-template pTemplate="header">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.code}}</td>
      <td>{{product.name}}</td>
      <td>{{product.category}}</td>
      <td>{{product.quantity}}</td>
    </tr>
  </ng-template>
</p-table>

<hr />
<h2>Button Example</h2>
<a pButton id="google" label="Google" href="https://www.google.com"></a>